<div class="hero row">
  <div class="section">
    <h1>Free Chapter Cape Town</h1>
    <h2>Libero Equitare</h2>
    <h3>Ride Free</h3>
  </div>
</div>

<div class="row">
  <div class="section">
    <blockquote>
      <ul class="manifesto">
        <li><em>We believe</em> in going our own way, no matter which way the rest of the world is going.</li>
        <li><em>We believe</em> in clear skies and don’t believe in sunroofs.</li>
        <li><em>We believe</em> in Freedom.</li>
        <li><em>We believe</em> in dust, tumbleweeds, mountain passes and riding off into the sunset.</li>
        <li><em>We believe</em> in saddlebags and long journeys and we believe that the cowboys did it right.</li>
        <li><em>We believe</em> in refusing to knuckle down to anyone.</li>
        <li><em>We believe</em> in wearing black because it doesn’t show dirt or weakness.</li>
        <li><em>We believe</em> the world is going soft and we are not going with.</li>
        <li><em>We believe</em> in motorcycle rallies that last a week, roadside attractions, gas station hot dogs, and finding out what’s over the next hill.</li>
        <li><em>We believe</em> in rumbling engines, pistons the size of garbage cans, fuel tanks designed in 1936, freight train size headlights, chrome and custom paint.</li>
        <li><em>We believe</em> in flames and skulls.</li>
        <li><em>We believe</em> life is what you make it and we choose to make it one hell of a ride.</li>
        <li><em>We believe</em> the machine we sit on can tell the world exactly where we stand.</li>
        <li><b>We don’t care</b> what everyone else believes…</li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="section">

  </div>
</div>
