<div class="row footer center">
  <div class="section">
    <ul>
      <li><a href="http://route62rally.co.za/">Route62 Rally</a></li>
      <li class="line">|</li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <hr class="small">
    <p>&copy; <%= Date.today.year %> – Free Chapter Cape Town – All rights reserved</p>

    <p>
      <b>DISCLAIMER:</b>
      Free Chapter Cape Town is not a registered Harley Owners Group
      H.O.G.<sup>®</sup> Chapter, neither do we purport to be. It is not
      affilliated to any Harley-Davidson<sup>®</sup> Retail Dealership or part
      of Harley-Davidson Motor Company Inc. This website is also in no way
      affiliated to any of the aforementioned.
    </p>
    <p>
      All trademarks, trade names &amp; logos remain the property of their
      respective owners. Harley-Davidson, Harley Owners Group, H.O.G. and Ladies
      of Harley are the registered trademarks of Harley-Davidson Motor Company.
      No endorsement of any linked site or product is expressed or implied.
    </p>
    <p>
      We are a member of the Free Chapter Federation and affiliated with the
      Free Chapter Gauteng.
    </p>
  </div>
</div>

<%= any_login_here %>
