<div class="row hero">
  <div class="section">
    <h1>Members</h1>
  </div>
</div>

<div class="row">
  <div class="section">
    <% @members.each do |member| %>
      <hr>
      <div class="member">
        <h3><%= member.full_name %></h3>
        <h4><%= member.position_list %></h4>
      </div>
    <% end %>
  </div>
</div>
